*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark:root {
  --main-color: #111827;
  --busqueda1:#1f2937;
  --busqueda2: #23e7cd83;
  --mode-L-D: #f8f8f8;
  --grid-line:#404a5d;
  --boton:rgb(0, 102, 255);
  --botonn:rgba(51, 145, 151, 0.377);
}

:root {
  --main-color: #f3f6fd;
  --busqueda1: #ffffff;
  --busqueda2: #27272783;
  --mode-L-D: #000000;
  --grid-line: #1f1c2e;
  --boton:#15ff00;
  --botonn:#0b4b0667;
}

body{
  width: 100%;
  height: 100vh;
  font-family: cursive;
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--main-color);
}
.header{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-left img{
  max-width: 60px;
  margin: 0px 5px;
  border-radius: 50px;
  border: 3px solid var(--busqueda2);
  background: var(--mode-L-D);
}
.search-bar{
  width: 100%;
  height: 50px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.search-input{
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 5px 5px var(--busqueda2);
  background: var(--busqueda1);
  color: var(--mode-L-D);
  font-size: 18px;
}
.search-bar i{
  color: var(--mode-L-D);
  position: absolute;
  margin-right: 20px;
  cursor: pointer;
}
.header-right{
  margin-left: 10px;
}
.mode-switch{
  border: none;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
}
.fa-moon{
  color: var(--mode-L-D);
}
.content{
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 0px 24px 24px 0px;
}
.app-sidebar {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.app-sidebar img{
  max-width: 50px;
  height: 50px;
  border: 5px solid var(--botonn);
  border-radius: 50px;
  background: white;
  cursor: pointer;
}
.meet:hover,
.grupo:hover {
  border: 5px solid #c3cff4;
}
.meet.active{
  border: 5px solid var(--boton);
}
.grupo.active{
  border: 5px solid var(--boton);
}
.projects-section {
  flex: 2;
  background: var(--busqueda1);
  border-radius: 32px;
  padding: 32px 32px 0 10px;
  overflow: hidden;
  height: 100%;
  display: none;
  flex-direction: column;
}
.menu1.active{
  display: flex;
}
.menu2.active{
  display: flex;
}


.projects-section .info1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  color: var(--mode-L-D);
}
.projects-section .info2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  color: var(--mode-L-D);
}
.view-actions {
  align-items: center;
  display: none;
}
.view-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--mode-L-D);
  margin-left: 8px;
}
.view-btn:hover {
  background-color: #c3cff4;
}
.view-btn.active {
  background-color: var(--grid-line);
  color: white;
}
.project-boxes {
  padding: 10px;
  overflow-y: auto;
}
.project-boxes.GRID{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 70px;
}
.project-boxes.LIST{
  display: grid;
  gap: 30px;
}
.project-box-wrapper{
  height: 100%;
}
.project-box{
  height: 100%;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-box-content-header{
  text-align: center;
  margin: 10px 0px;
}
.box-progress-wrapper{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
#file{
  width: 100%;
}
.project-box-footer {
  display: flex;
  justify-content: space-between;
}
.LINK-MEET{
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 700;
  cursor: pointer;
}
.LINK-MEET a{
  text-decoration: none;
}
























@media screen and (min-width: 616px) {
  .view-actions {
    display: flex;
  }
}